Desktop/project/project
Desktop/project/target
Desktop/target
Desktop/.idea
Desktop/build.properties

.idea/
target/
build.properties

Server/project/project
Server/project/target
Server/target
Server/.idea
Server/build.properties

*.iml
.gradle
Android/local.properties
Android/.DS_Store
.DS_Store
Android/build
Android/captures
